.auto-grow-text-area {
	outline: 2px solid hsl(0, 0%, 95%);
	outline-offset: -2px;
	border-radius: 5px;
	height: 36px !important;
	padding: 5px;
	resize: none;
	overflow: hidden;
	width: 100%;
	display: block;

	&--disabled {
		cursor: not-allowed;
		outline: 2px solid hsl(37, 100%, 50%);
	}
}
