.clients__section {
	background: #fff;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}

.clients-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.clients__client-card {
	background: #fff;
	border-radius: 10px;
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
}

.clients__form {
	position: fixed;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 10px;
	padding: 1.5rem;
	opacity: 0;
	pointer-events: none;

	&--visible {
		opacity: 1;
		pointer-events: auto;
	}
}
.curtain {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	pointer-events: none;

	&--visible {
		opacity: 1;
		pointer-events: auto;
	}
}

@media screen and (width < 800px) {
	.clients-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (width < 600px) {
	.clients-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
