.visit-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.visit__input {
	border: var(--secondary-border);
	border-radius: 5px;
	padding: 5px;
}

.workshift__table {
	text-align: left;
	// table-layout: fixed;
	// width: 100%;
	border-collapse: collapse;

	td {
		// width: 100%;
		padding-bottom: 5px;
	}

	// width: 100%;

	th {
		white-space: nowrap;
		text-align: left;
		font-weight: 500;
	}

	tr {
		td:nth-child(1) {
			padding-right: 5px;
		}
		td:nth-child(2) {
			padding-right: 5px;
		}
	}
}

.workshift__grid {
	display: grid;
	grid-template-columns: max-content minmax(0, 1fr) 100px;
	gap: 5px;

	&:not(:nth-last-child(1)) {
		padding-bottom: 5px;
		border-bottom: 2px dashed #000;
	}

	&:not(:nth-child(1)) {
		padding-top: 5px;
	}
}

.visit-input-container {
	width: 100px;
	min-width: 100px;
}

.workshift__label {
	font-weight: 500;
}

.workshift__input-wrapper {
	position: relative;
}

.workshift__input {
	padding: 5px;
	border-radius: 5px;
	width: 100%;
	min-width: 100px;
	outline: 2px solid hsl(0, 0%, 95%);
	outline-offset: -2px;

	&:focus {
		outline: 2px solid hsl(0, 0%, 0%);
	}

	&--disabled {
		outline: 2px solid hsl(37, 100%, 50%);
	}
}

.workshift__input-clear {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	height: calc(100% - 10px);
	background: red;
	aspect-ratio: 1/1;
	border-radius: 5px;
	color: #fff;

	&--disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.workshift__day {
	// TODO: learn this
	writing-mode: sideways-lr;
	background: hsl(0, 0%, 95%);
	border-radius: 10px;
	padding: 10px 5px;
	text-align: center;
	font-weight: 500;
}

.workshift__btn {
	background: blueviolet;
	color: #fff;
	padding: 5px;
	border-radius: 10px;
	width: 100%;

	&--disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

@media screen and (width < 600px) {
	.workshift__grid {
		grid-template-columns: 1fr;
	}
}
